* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.navbar {
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
  padding: 0px;
}

.navbar > .navbar-header {
  display: inline;
}

.navbar > .navbar-header > .navbar-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px;
}

.navbar > .navbar-btn {
  display: none;
}

.navbar > .navbar-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.navbar > .navbar-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.navbar > .navbar-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar > #navbar-check {
  display: none;
}

@media (max-width:600px) {
  .navbar > .navbar-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .navbar > .navbar-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .navbar > .navbar-btn > label:hover,.navbar  #navbar-check:checked ~ .navbar-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .navbar > .navbar-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .navbar > .navbar-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .navbar > .navbar-links > a {
    display: block;
    width: 100%;
  }
  .navbar > #navbar-check:not(:checked) ~ .navbar-links {
    height: 0px;
  }
  .navbar > #navbar-check:checked ~ .navbar-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}